extends ../layout

block content
    .row
        .col-sm-8
            h1=title
        .col-sm-4
            a(href="/courses/add", class="btn btn-success float-right") Add New Product
    table.table
        thead
            tr
                th Name
                th Price
                th Actions
        tbody
            each course in courses
                tr
                    td=course.name
                    td=course.dur
                    td 
                        a(href="/courses/delete"+course._id, class="btn btn-danger") Delete
                        a(href="/courses/edit/"+course._id, class="btn btn-warning") Edit
                        //a(href="/products/cart/"+product._id, class="btn btn-info") Add To Cart